# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Data (raw/large files shouldn't be committed)
# Ignore everything inside each layer (including partition subfolders), keep .gitkeep
data/raw/
data/landing/
data/bronze/*
data/silver/*
data/gold/*
!data/*/.gitkeep

# Environment
.env

# Airflow
airflow.db
airflow-webserver.pid
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
